/* Applies to entire document */

html,
body {
  height: 100%;
  display: initial;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

/* Applies to top navigation bar */

.Top {
  background-color: #444444;
  /* margin-left: 250px; */
  position: relative;
  z-index: 1;
}

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 0;
  margin-left: 100px;
  gap: 7px;
}

a {
  color: antiquewhite;
  font-size: 14px;
}

.Nav a {
  border-right: 1px solid white; /* Add this line for the separator */
  padding-right: 7px;
}

.Nav a:last-child {
  border-right: none; /* Remove the separator for the last item */
}

/* Applies to side navigation bar */

.Side {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  max-height: 100%;
  background-color: black;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 2;
}

.SideNav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-items: center;
  margin-top: 50px;
}

.a-2 {
  margin-left: 65px;
}

h1 {
  color: white;
  margin-left: 20px;
}

.name {
  text-decoration: none;
  font-size: 20px;
}

.Logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.toggle-text {
  cursor: pointer;
  text-decoration: none;
  color: white;
  display: inline-flex; /* Align items horizontally */
  align-items: center; /* Center items vertically */
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none; /* Initially hide the menu */
}

.menu li {
  padding: 8px;
}

.sidebar-item {
  cursor: pointer;
  text-decoration: none;
  color: white;
  display: inline-flex; /* Align items horizontally */
  align-items: center; /* Center items vertically */
}

.sidebar-collapsible-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none; /* Initially hide the menu */
}

.sidebar-collapsible-menu li {
  padding: 8px;
}

i {
  margin-right: 5px;
  font-size: 10px;
}

.geo-btn {
  margin-left: 130px;
}

.eng-btn {
  margin-left: 3px;
  margin-right: 15px;
  padding-right: 0;
}

.hero-image {
  margin-left: 275px;
}

.hero-text {
  color: black;
  margin-left: 300px;
  padding-bottom: 20px;
}

.areas-points {
  margin: 10px;
}
